option_settings:
  - namespace: aws:autoscaling:asg
    option_name: MinSize
    value: 2
  - namespace: aws:autoscaling:asg
    option_name: MaxSize
    value: 10
  - namespace: aws:elasticbeanstalk:environment
    option_name: EnvironmentType
    value: LoadBalanced
  - namespace: aws:elasticbeanstalk:xray
    option_name: XRayEnabled
    value: false
  - namespace: aws:elb:loadbalancer
    option_name: CrossZone
    value: true
  - namespace: aws:elasticbeanstalk:cloudwatch:logs
    option_name: StreamLogs
    value: false
  - namespace: aws:elasticbeanstalk:managedactions
    option_name: ManagedActionsEnabled
    value: false
  - namespace: aws:elasticbeanstalk:environment:proxy
    option_name: ProxyServer
    value: none