option_settings:
  aws:autoscaling:asg:
    MinSize: 1
    MaxSize: 10
  aws:autoscaling:trigger:
    Period: 1
    EvaluationPeriods: 1
    BreachDuration: 5
    MeasureName: CPUUtilization
    Statistic: Minimum
    Unit: Percent
    UpperBreachScaleIncrement: 2
    UpperThreshold: 70
    LowerBreachScaleIncrement: 1
    LowerThreshold: 30